## General ignores
*.nfs*
*.env
*.db

## App specific ignores
uptime/data

pihole/etc-pihole

dashy/config/conf-dev.yml
dashy/config/config-backups
dashy/bookmarks.html

appsmith/stacks

directus/uploads
directus/extensions

grocy/config

trilium/trilium-data

onlyoffice/config

kavita/data
kavita/config

## TODO: dockerignores
