## General ignores
*.nfs*
*.env
*.db
*.zip
*.gz
*.bak

## App specific ignores
pihole/etc-pihole

dashy/config/conf-dev.yml
dashy/config/config-backups
dashy/bookmarks.html

appsmith/stacks

directus/uploads
directus/extensions

grocy/config

onlyoffice/config

nextcloud/config

kavita/data
kavita/config

gitea/gitea

stirlingpdf/StirlingPDF

netalertx/netalertx

olivetin/config/entities
olivetin/config/ssh

# Specifically tracking envs for test purposes
## TODO: Delete later
!firefly/*.env
!airtrail/*.env

## Any containers that just "data" as a folder
### Should probably make this easier by making everything:
#### "assets" "data" "config"
data
certs

pxe/assets
pxe/config

## TODO: dockerignores
