## General ignores
*.nfs*
*.env
!*.env.example
.envrc.local
.direnv/
*.db
*.zip
*.tar
*.gz
*.bak
*.sql
*_data
.claude/

## App specific ignores
network/pihole/etc-pihole

admin-tools/dashy/config/conf-dev.yml
admin-tools/dashy/config/config-backups
admin-tools/dashy/bookmarks.html

lowcode/appsmith/stacks

lowcode/directus/uploads
lowcode/directus/extensions

home/grocy/config

files/nextcloud/config

media/kavita/data
media/kavita/config

dev/gitea/gitea

productivity/stirlingpdf/StirlingPDF

monitoring/netalertx/netalertx

admin-tools/olivetin/config/entities
admin-tools/olivetin/config/ssh

ai/comfyui/output
ai/automatic1111/output

dev/pxe/assets
dev/pxe/config

media/jdownloader/config
media/jdownloader/downloads

## Any containers that just "data" as a folder
### Should probably make this easier by making everything:
#### "assets" "data" "config"
data
certs

## TODO: dockerignores
