## Networks
networks:
  default:
    driver: bridge
    name: proxy
    external: false
  # socket_proxy:
  #   name: socket_proxy
  #   driver: bridge
  #   ipam:
  #     config:
  #       - subnet: 192.168.91.0/24

include:
  ## Services

  # TODO: Merge databases ie into one PostgresQL
  # TODO: See about adding common setup stuff to this file, ie restart policy, traefik enable label, etc

  ### Routing
  - traefik/docker-compose.yaml
  # - socket/docker-compose.yaml

  ### Testing
  - whoami/docker-compose.yaml
  # - testing/docker-compose.yaml

  ### Admininstration
  # - lazydocker/docker-compose.yaml
  # - watchtower/docker-compose.yaml
  # - tenable/docker-compose.yaml
  #### Tools
  # - adminer/docker-compose.yaml
  # - ittools/docker-compose.yaml
  # - olivetin/docker-compose.yaml
  # - n8n/docker-compose.yaml
  #### Monitors
  - glances/docker-compose.yaml
  - uptime/docker-compose.yaml
  # - autokuma/docker-compose.yaml
  # - pihole/docker-compose.yaml
  # - netalertx/docker-compose.yaml
  # - changedetect/docker-compose.yaml
  # - phpipam/docker-compose.yaml
  # - gotify/docker-compose.yaml
  #### Downloaders
  # - gopeed/docker-compose.yaml
  # - jdownloader/docker-compose.yaml

  ### Notes
  # - wikijs/docker-compose.yaml
  # - trilium/docker-compose.yaml
  # - docmost/docker-compose.yaml
  #### AI
  # - notebook/opennotebook-single/docker-compose.yaml

  ### Dashboard
  - dashy/docker-compose.yaml

  ### Management
  # - focalboard/docker-compose.yaml
  # - super-prod/docker-compose.yaml
  #### People CRM
  # - monica/docker-compose.yaml
  #### Account management
  # - freeipa/docker-compose.yaml
  - lldap/docker-compose.yaml
  #### Office tools
  # - papermerge/docker-compose.yaml
  # - drawio/docker-compose.yaml
  # - stirlingpdf/docker-compose.yaml
  ### File management
  # - filebrowser/docker-compose.yaml
  # - nextcloud/docker-compose.yaml
  ### Finances
  # - firefly/docker-compose.yaml
  #### Food
  # - grocy/docker-compose.yaml
  #### Travel
  # - airtrail/docker-compose.yml
  # - adventurelog/docker-compose.yml

  ### Games
  # - wordle/docker-compose.yaml
  ### Development
  # - remoteRhel/docker-compose.yaml
  # - pxe/docker-compose.yaml
  # - jenkins/docker-compose.yaml
  # - gitea/docker-compose.yaml
  # - registry/docker-compose.yaml

  ### Books
  # - calibre/docker-compose.yaml
  # - kavita/docker-compose.yaml
  ### Low Code
  # - directus/docker-compose.yaml
  # - appsmith/docker-compose.yaml
