pages:
  - name: Main
    path: conf.yml
  - name: Local
    path: conf-dev.yml
pageInfo:
  title: System Dashboard
  description: Main dashboard for self hosted containers
  navLinks:
    - title: Documentation
      path: https://dashy.to/docs
      target: newtab
sections:
  - name: Today
    icon: far fa-calendar-day
    widgets:
      - type: clock
        options:
          format: en-US
          timeZone: America/New_York
          hideDate: false
        id: 0_513_clock
      - type: iframe
        options:
          url: http://localhost:3001/status/main
          frameHeight: 150
        id: 1_513_iframe
  - name: Status
    icon: fas fa-thermometer-full
    displayData:
      sortBy: default
      rows: 1
      cols: 1
      collapsed: false
      hideForGuests: false
    widgets:
      - type: gl-current-cpu
        options:
          hostname: http://localhost:61208
          updateInterval: 5
        id: 0_644_glcurrentcpu
      - type: gl-current-mem
        options:
          hostname: http://localhost:61208
          updateInterval: 5
        id: 1_644_glcurrentmem
      - type: gl-network-interfaces
        options:
          hostname: http://localhost:61208
          updateInterval: 5
        id: 2_644_glnetworkinterfaces
      - type: gl-system-load
        options:
          hostname: http://localhost:61208
          updateInterval: 5
        id: 3_644_glsystemload
  - name: Localhost
    icon: fab fa-ioxhost
    displayData:
      sortBy: default
      rows: 3
      cols: 5
      collapsed: false
      hideForGuests: true
    items:
      - title: Traefik
        description: Reverse Proxy
        icon: fas fa-route
        url: http://proxy.localhost
        target: newtab
        id: 0_937_traefik
        statusCheck: true
        statusCheckAllowInsecure: true
      - title: IT Tools
        description: Collection of useful tools
        icon: fas fa-tools
        url: http://tools.localhost
        target: newtab
        id: 1_937_ittools
        statusCheck: true
        statusCheckAllowInsecure: true
      - title: Whoami
        description: Test container
        icon: fas fa-question
        url: http://who.localhost
        target: newtab
        id: 2_937_whoami
        statusCheck: true
        statusCheckAllowInsecure: true
      - title: Glances
        description: System Monitor
        icon: fas fa-search
        url: http://glance.localhost
        target: newtab
        id: 3_937_glances
        statusCheck: true
        statusCheckAllowInsecure: true
      - title: Uptime
        description: Network uptime monitor
        icon: fas fa-signal
        url: http://uptime.localhost
        target: newtab
        id: 4_937_uptime
        statusCheck: true
        statusCheckAllowInsecure: true
      - title: Notes
        description: Trilium
        icon: fas fa-sticky-note
        url: http://notes.localhost
        target: newtab
        id: 5_937_notes
        statusCheck: true
        statusCheckAllowInsecure: true
      - title: Icons
        description: Font Awesome Icons
        icon: fab fa-font-awesome
        url: https://fontawesome.com/search?ic=free
        id: 6_937_icons
        statusCheck: true
        statusCheckAllowInsecure: true
      - title: DB Viewer
        description: PHP admin
        icon: fas fa-database
        url: http://dbviewer.localhost
        target: newtab
        id: 7_937_dbviewer
        statusCheck: true
        statusCheckAllowInsecure: true
      - title: AppSmith
        description: Low code builder
        icon: fas fa-list
        url: http://lowui.localhost
        target: newtab
        id: 8_937_appsmith
        statusCheck: true
        statusCheckAllowInsecure: true
      - title: Directus
        description: Low code builder, the second
        icon: fas fa-bars
        url: http://lowdb.localhost
        target: newtab
        id: 9_937_directus
        statusCheck: true
        statusCheckAllowInsecure: true
      - title: Monica
        description: People relationship manager
        icon: fas fa-users
        url: http://people.localhost/
        target: newtab
        id: 10_937_monica
        statusCheck: true
        statusCheckAllowInsecure: true
      - title: Papermerge
        description: Document manager
        icon: fas fa-paste
        url: http://paper.localhost/
        target: newtab
        statusCheck: true
        statusCheckAllowInsecure: true
        id: 11_937_papermerge
      - title: Focalboard
        description: Ticketing system (likely to be swapped)
        icon: fas fa-tasks
        url: http://board.localhost/
        target: newtab
        statusCheck: true
        statusCheckAllowInsecure: true
        id: 12_937_focalboard
      - title: Grocy
        description: Food tracking
        icon: fas fa-utensils
        url: http://grocy.localhost/
        target: newtab
        statusCheck: true
        statusCheckAllowInsecure: true
        id: 13_937_grocy
      - title: Wiki
        description: WikiJS
        icon: fab fa-wikipedia-w
        url: http://wiki.localhost
        target: newtab
        statusCheck: true
        statusCheckAllowInsecure: true
        id: 14_937_wiki
      - title: Wordle
        description: Worlde clone
        icon: fas fa-chess-board
        url: http://wordle.localhost
        target: newtab
        statusCheck: true
        statusCheckAllowInsecure: true
        id: 15_937_wordle
      - title: File Browser
        description: Remote File Browser
        icon: fas fa-folder-tree
        url: http://file.localhost
        target: newtab
        id: 16_937_filebrowser
        statusCheck: true
        statusCheckAllowInsecure: true
      - title: OnlyOffice
        description: Remote office tools
        icon: fas fa-briefcase
        url: http://office.localhost
        target: newtab
        id: 17_937_onlyoffice
        statusCheck: true
        statusCheckAllowInsecure: true
      - title: PXE
        description: Remote pxe file browser
        icon: fas fa-network-wired
        url: http://pxe.localhost
        target: newtab
        id: 18_937_pxe
        statusCheck: true
        statusCheckAllowInsecure: true
      - title: DrawIO
        description: Diagram making software
        icon: fas fa-pencil
        url: http://drawio.localhost/
        target: newtab
        statusCheck: true
        statusCheckAllowInsecure: true
        id: 19_937_drawio
      - title: Gitea
        description: Local Gitlab
        icon: fab fa-git
        url: http://git.localhost/
        target: newtab
        statusCheck: true
        statusCheckAllowInsecure: true
        id: 20_937_gitea
      - title: Jenkins
        description: Build pipeline
        icon: fab fa-jenkins
        url: http://jenkins.localhost/
        target: newtab
        statusCheck: true
        statusCheckAllowInsecure: true
        id: 21_937_jenkins
      - title: PiHole
        description: Ad Blocker
        icon: fab fa-raspberry-pi
        url: http://pihole.localhost/
        target: newtab
        statusCheck: true
        statusCheckAllowInsecure: true
        id: 22_937_pihole
      - title: GoPeed
        description: URL Downloader (may get swapped)
        icon: fas fa-download
        url: http://go.localhost/
        target: newtab
        statusCheck: true
        statusCheckAllowInsecure: true
        id: 23_937_gopeed
      - title: Socket
        description: Docker socket security
        icon: fas fa-ethernet
        url: http://socket.localhost/
        target: newtab
        statusCheck: true
        statusCheckAllowInsecure: true
        id: 24_937_socket
      - title: Calibre
        description: Book manager
        icon: fas fa-book
        url: http://calibre.localhost/
        target: newtab
        statusCheck: true
        statusCheckAllowInsecure: true
        id: 25_937_calibre
      - title: Kavita
        description: Book manager, the second
        icon: fas fa-book-open
        url: http://kavita.localhost/
        target: newtab
        statusCheck: true
        statusCheckAllowInsecure: true
        id: 26_937_kavita
      - title: PDF Tools
        description: Collection of useful PDF tools
        icon: fas fa-file-pdf
        url: http://pdf.localhost
        target: newtab
        statusCheck: true
        statusCheckAllowInsecure: true
        id: 27_937_pdftools
      - title: OliveTin
        description: CMDs from the browser
        icon: fas fa-terminal
        url: http://cmd.localhost
        target: newtab
        statusCheck: true
        statusCheckAllowInsecure: true
        id: 28_937_olivetin
      - title: NetAlertX
        description: Network Tracing and Monitoring
        icon: fas fa-network-wired
        url: http://net.localhost
        target: newtab
        statusCheck: true
        statusCheckAllowInsecure: true
        id: 29_937_netalertx
      - title: Change Detection
        description: Website change watcher
        icon: fas fa-clock
        url: http://change.localhost
        target: newtab
        statusCheck: true
        statusCheckAllowInsecure: true
        id: 30_937_changedetection
      - title: PHP IPAM
        description: Address management software
        icon: fas fa-globe
        url: http://php.localhost
        target: newtab
        statusCheck: true
        statusCheckAllowInsecure: true
        id: 31_937_phpipam
      - title: AdventureLog
        description: Trip tracking
        icon: fas fa-map
        url: http://trip.localhost
        target: newtab
        statusCheck: true
        statusCheckAllowInsecure: true
        id: 32_937_adventurelog
      - title: AirTrail
        description: Air travel tracking
        icon: fas fa-plane
        url: http://air.localhost
        target: newtab
        statusCheck: true
        statusCheckAllowInsecure: true
        id: 33_937_airtrail
      - title: DocMost
        description: Local Confluence wiki
        icon: fas fa-monument
        url: http://doc.localhost
        target: newtab
        statusCheck: true
        statusCheckAllowInsecure: true
        id: 34_937_docmost
      - title: Firefly3
        description: Financial software
        icon: fas fa-coins
        url: http://fire.localhost
        target: newtab
        statusCheck: true
        statusCheckAllowInsecure: true
        id: 35_937_firefly
      - title: NextCloud
        description: Local Google Drive
        icon: fas fa-warehouse
        url: http://next.localhost
        target: newtab
        statusCheck: true
        statusCheckAllowInsecure: true
        id: 36_937_nextcloud
      - title: Watch Tower
        description: Docker container monitor and updater (no website)
        icon: fas fa-moon
        url: '---'
        target: newtab
        statusCheck: true
        statusCheckAllowInsecure: true
        id: 37_937_watchtower
      - title: Lazy Docker
        description: Terminal based Docker Desktop (no website)
        icon: fas fa-couch
        url: '---'
        statusCheckAllowInsecure: true
        id: 38_937_lazydocker
      - title: Gotify
        description: Notification server
        icon: fas fa-bell
        url: http://notice.localhost
        target: newtab
        statusCheck: true
        statusCheckAllowInsecure: true
        id: 39_937_gotify
      - title: N8N
        description: Automation Pipeline
        icon: fas fa-bezier-curve
        url: http://n8n.localhost
        target: newtab
        statusCheck: true
        statusCheckAllowInsecure: true
        id: 40_937_nn
      - title: NotebookLM
        description: NotebookLM
        icon: fas fa-book
        url: http://notebook.localhost
        target: newtab
        statusCheck: true
        statusCheckAllowInsecure: true
        id: 41_937_notebooklm
      - title: Productivity
        description: Todo list and Kanban
        icon: fas fa-clipboard-list
        url: http://super.localhost
        target: newtab
        statusCheck: true
        statusCheckAllowInsecure: true
        id: 42_937_productivity
      - title: FreeIPA
        description: User authentication
        icon: fas fa-lock
        url: http://ipa.localhost
        target: newtab
        statusCheck: true
        statusCheckAllowInsecure: true
        id: 43_937_freeipa
      - title: LLDAP
        description: Simple LDAP
        icon: fas fa-unlock
        url: http://ldap.localhost
        target: newtab
        statusCheck: true
        statusCheckAllowInsecure: true
        id: 44_937_lldap
      - title: Registry
        description: Docker Registry
        icon: fab fa-docker
        url: http://dock.localhost
        target: newtab
        statusCheck: true
        statusCheckAllowInsecure: true
        id: 45_937_registry
appConfig:
  theme: crayola
  layout: horizontal
  iconSize: medium
