# version: '3.9'
services:
  dailynotes:
    image: m0ngr31/dailynotes
    volumes:
      - './config:/app/config'
    # ports:
    #   - '5000:5000'
    environment:
      - BASE_URL=notes.localhost
    labels:
      - traefik.enable=true
      - traefik.http.routers.notes.rule=Host(`notes.localhost`)
      - traefik.http.routers.notes.entrypoints=http
      - traefik.http.services.notes.loadbalancer.server.port=5000

networks:
  default:
    name: main
    external: true
